n8n/workflows/integrations/10_crm_sync_pipedrive.json
{
  "name": "PuraEstate - CRM Sync (Pipedrive)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "cron-crm-sync",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id,\n  p.listing_id,\n  p.title,\n  p.price,\n  p.price_currency,\n  p.bedrooms,\n  p.bathrooms,\n  p.property_type,\n  p.suburb,\n  p.city,\n  p.province,\n  p.size_sqm,\n  p.url,\n  p.source,\n  p.description,\n  p.agent_name,\n  p.agent_phone,\n  p.latitude,\n  p.longitude,\n  p.created_at\nFROM properties p\nLEFT JOIN crm_sync_log csl ON csl.property_id = p.id AND csl.crm = 'pipedrive'\nWHERE p.status = 'active'\nAND p.price > 0\nAND csl.id IS NULL\nAND p.created_at >= NOW() - INTERVAL '1 day'\nORDER BY p.created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "postgres-unsynced",
      "name": "Get Unsynced Properties",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [460, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-puraestate",
          "name": "PuraEstate PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-items",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-props",
      "name": "Properties to Sync?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "https://api.pipedrive.com/v1/deals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.PIPEDRIVE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.title }} - {{ $json.city }}\",\n  \"value\": {{ $json.price }},\n  \"currency\": \"ZAR\",\n  \"pipeline_id\": 1,\n  \"stage_id\": 1,\n  \"status\": \"open\",\n  \"expected_close_date\": \"{{ new Date(Date.now() + 90 * 24 * 60 * 60 * 1000).toISOString().split('T')[0] }}\",\n  \"visible_to\": \"3\",\n  \"add_time\": \"{{ $json.created_at }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "http-create-deal",
      "name": "Create Pipedrive Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "=https://api.pipedrive.com/v1/deals/{{ $json.data.id }}/fields",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.PIPEDRIVE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"{{ $env.PIPEDRIVE_FIELD_LISTING_ID }}\": \"{{ $('Get Unsynced Properties').item.json.listing_id }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_PROPERTY_TYPE }}\": \"{{ $('Get Unsynced Properties').item.json.property_type }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_BEDROOMS }}\": {{ $('Get Unsynced Properties').item.json.bedrooms }},\n  \"{{ $env.PIPEDRIVE_FIELD_BATHROOMS }}\": {{ $('Get Unsynced Properties').item.json.bathrooms }},\n  \"{{ $env.PIPEDRIVE_FIELD_SIZE_SQM }}\": {{ $('Get Unsynced Properties').item.json.size_sqm }},\n  \"{{ $env.PIPEDRIVE_FIELD_SUBURB }}\": \"{{ $('Get Unsynced Properties').item.json.suburb }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_CITY }}\": \"{{ $('Get Unsynced Properties').item.json.city }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_PROVINCE }}\": \"{{ $('Get Unsynced Properties').item.json.province }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_SOURCE }}\": \"{{ $('Get Unsynced Properties').item.json.source }}\",\n  \"{{ $env.PIPEDRIVE_FIELD_URL }}\": \"{{ $('Get Unsynced Properties').item.json.url }}\"\n}",
        "options": {}
      },
      "id": "http-update-deal-fields",
      "name": "Add Custom Fields to Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "https://api.pipedrive.com/v1/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-token",
              "value": "={{ $env.PIPEDRIVE_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deal_id\": {{ $('Create Pipedrive Deal').item.json.data.id }},\n  \"content\": \"Property Details:\\n\\n{{ $('Get Unsynced Properties').item.json.description.replace(/\"/g, '\\\\\"').substring(0, 2000) }}\\n\\nAgent: {{ $('Get Unsynced Properties').item.json.agent_name }}\\nPhone: {{ $('Get Unsynced Properties').item.json.agent_phone }}\\n\\nSource: {{ $('Get Unsynced Properties').item.json.source }}\\nListing ID: {{ $('Get Unsynced Properties').item.json.listing_id }}\"\n}",
        "options": {}
      },
      "id": "http-add-note",
      "name": "Add Property Note to Deal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO crm_sync_log (property_id, crm, crm_record_id, synced_at, status)\nVALUES (\n  {{ $('Get Unsynced Properties').item.json.id }},\n  'pipedrive',\n  '{{ $('Create Pipedrive Deal').item.json.data.id }}',\n  NOW(),\n  'synced'\n)\nON CONFLICT (property_id, crm) DO UPDATE SET\n  synced_at = NOW(),\n  status = 'synced';",
        "options": {}
      },
      "id": "postgres-log-sync",
      "name": "Log Sync to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1560, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-puraestate",
          "name": "PuraEstate PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Every 30 Minutes": {
      "main": [
        [
          {
            "node": "Get Unsynced Properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unsynced Properties": {
      "main": [
        [
          {
            "node": "Properties to Sync?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Properties to Sync?": {
      "main": [
        [
          {
            "node": "Create Pipedrive Deal",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create Pipedrive Deal": {
      "main": [
        [
          {
            "node": "Add Custom Fields to Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Custom Fields to Deal": {
      "main": [
        [
          {
            "node": "Add Property Note to Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Property Note to Deal": {
      "main": [
        [
          {
            "node": "Log Sync to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["integrations", "crm", "pipedrive", "puraestate"],
  "triggerCount": 1,
  "updatedAt": "2026-02-22T00:00:00.000Z",
  "versionId": "1"
}
