n8n/workflows/data-collection/01_daily_property_scraping.json
{
  "name": "PuraEstate - Daily Property Scraping",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger-001",
      "name": "Daily 6AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/scrape/trigger",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FLASK_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "all"
            },
            {
              "name": "provinces",
              "value": "={{ JSON.stringify(['Western Cape', 'Gauteng', 'KwaZulu-Natal', 'Eastern Cape']) }}"
            },
            {
              "name": "property_types",
              "value": "={{ JSON.stringify(['house', 'apartment', 'townhouse', 'plot']) }}"
            },
            {
              "name": "max_price",
              "value": "5000000"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "http-scraper-trigger",
      "name": "Trigger Flask Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-scrape-success",
      "name": "Scrape Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/scrape/results/latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.FLASK_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-get-results",
      "name": "Fetch Scraping Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.first().json;\nconst properties = results.properties || [];\nconst now = new Date().toISOString();\n\nconst processed = properties.map(prop => ({\n  listing_id: prop.id || `scraped_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`,\n  title: prop.title || 'Unknown Property',\n  price: parseFloat(prop.price) || 0,\n  price_currency: 'ZAR',\n  bedrooms: parseInt(prop.bedrooms) || 0,\n  bathrooms: parseInt(prop.bathrooms) || 0,\n  property_type: prop.type || 'unknown',\n  suburb: prop.suburb || '',\n  city: prop.city || '',\n  province: prop.province || '',\n  size_sqm: parseFloat(prop.size) || 0,\n  url: prop.url || '',\n  source: prop.source || 'scraper',\n  images: prop.images || [],\n  description: prop.description || '',\n  agent_name: prop.agent_name || '',\n  agent_phone: prop.agent_phone || '',\n  scraped_at: now,\n  status: 'active'\n}));\n\nreturn processed.map(p => ({ json: p }));"
      },
      "id": "code-normalize",
      "name": "Normalize Property Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO properties (listing_id, title, price, price_currency, bedrooms, bathrooms, property_type, suburb, city, province, size_sqm, url, source, images, description, agent_name, agent_phone, scraped_at, status)\nVALUES (\n  '{{ $json.listing_id }}',\n  '{{ $json.title }}',\n  {{ $json.price }},\n  '{{ $json.price_currency }}',\n  {{ $json.bedrooms }},\n  {{ $json.bathrooms }},\n  '{{ $json.property_type }}',\n  '{{ $json.suburb }}',\n  '{{ $json.city }}',\n  '{{ $json.province }}',\n  {{ $json.size_sqm }},\n  '{{ $json.url }}',\n  '{{ $json.source }}',\n  '{{ JSON.stringify($json.images) }}',\n  '{{ $json.description.replace(/'/g, \"''\") }}',\n  '{{ $json.agent_name }}',\n  '{{ $json.agent_phone }}',\n  '{{ $json.scraped_at }}',\n  '{{ $json.status }}'\n)\nON CONFLICT (listing_id) DO UPDATE SET\n  price = EXCLUDED.price,\n  status = EXCLUDED.status,\n  scraped_at = EXCLUDED.scraped_at\nRETURNING id, listing_id, title, price, created_at;",
        "options": {}
      },
      "id": "postgres-upsert",
      "name": "Upsert to PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [1340, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-puraestate",
          "name": "PuraEstate PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst count = items.length;\nconst newListings = items.filter(i => i.json.created_at === i.json.scraped_at).length;\n\nreturn [{\n  json: {\n    scrape_date: new Date().toISOString().split('T')[0],\n    total_processed: count,\n    new_listings: newListings,\n    updated_listings: count - newListings,\n    status: 'success'\n  }\n}];"
      },
      "id": "code-summary",
      "name": "Build Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "channel": "#property-updates",
        "text": "=*Daily Scraping Complete* :house:\nDate: {{ $json.scrape_date }}\nTotal Processed: {{ $json.total_processed }}\nNew Listings: {{ $json.new_listings }}\nUpdated: {{ $json.updated_listings }}\nStatus: {{ $json.status }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-success",
      "name": "Slack Success Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1780, 200],
      "credentials": {
        "slackApi": {
          "id": "slack-puraestate",
          "name": "PuraEstate Slack"
        }
      }
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "=*Scraping FAILED* :warning:\nDate: {{ new Date().toISOString().split('T')[0] }}\nError: Flask scraper returned non-200 status\nAction Required: Check Flask service at http://localhost:5000",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "slack-failure",
      "name": "Slack Failure Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [900, 420],
      "credentials": {
        "slackApi": {
          "id": "slack-puraestate",
          "name": "PuraEstate Slack"
        }
      }
    }
  ],
  "connections": {
    "Daily 6AM Trigger": {
      "main": [
        [
          {
            "node": "Trigger Flask Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Flask Scraper": {
      "main": [
        [
          {
            "node": "Scrape Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Successful?": {
      "main": [
        [
          {
            "node": "Fetch Scraping Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scraping Results": {
      "main": [
        [
          {
            "node": "Normalize Property Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Property Data": {
      "main": [
        [
          {
            "node": "Upsert to PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert to PostgreSQL": {
      "main": [
        [
          {
            "node": "Build Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary": {
      "main": [
        [
          {
            "node": "Slack Success Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "error-handler-workflow"
  },
  "staticData": null,
  "tags": ["data-collection", "scraping", "puraestate"],
  "triggerCount": 1,
  "updatedAt": "2026-02-22T00:00:00.000Z",
  "versionId": "1"
}
